@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    color: #fff;
    font-family: "Funnel Display";
    overscroll-behavior: none;
}

header {
    position: fixed;
    top: 0;
    padding: 15px 30px;
    background: rgb(41, 131, 31);
    width: 100%;
    z-index: 9;
}

svg {
    fill: #eef;
}


.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.ph-number,
.e-mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-nav * {
    font-size: .87rem;
    letter-spacing: .8px;
}

nav a {
    font-size: 18px;
}

.links,
.main-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul,
.main-links ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.links li,
.main-links li {
    list-style: none;
    height: 100%;
    color: #fff;
    padding: 0 10px;
}

.ham-burger{
    display: none;
    margin-left: auto;
}

.links a,
.main-links a {
    text-decoration: none;
    color: #fff;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}

.logo h1 {
    font-size: 24px;
    transition: all .6s;
}

.logo.scrolled h1 {
    font-size: 20px;
}

.logo.scrolled {
    height: 50px;
}

.logo-img {
    height: 100%;
}

.popup {
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 100vw;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    padding-top: 5px;
    background: #000;
    animation: move 1.5s ease-out forwards;
}

.popup-img {
    position: relative;
}

.close-btn {
    position: absolute;
    z-index: 11;
    top: 5px;
    right: 10px;
    width: 15px;
    background: #000;
    display: grid;
    place-items: center;
}

#close-btn {
    color: #fff;
    height: 15px;
    background: #000;
    border: none;
}

@keyframes move {
    100% {
        top: 0;
    }
}


/* Slider section */

.home {
    height: 100vh;
}

.image-slider-wrapper {
    position: relative;
    width: 100%;
    top: 174px;
}

.slider {
    aspect-ratio: 9 / 4;
    min-width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: calc(100vh - 168px);
    max-width: 100%;
}

.slider img {
    flex: 1 0 100%;
    max-height: 100%;
    scroll-snap-align: start;
    margin-top: auto;
    object-fit: cover;
}

.nav-btns {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.nav-btn {
    padding: 2px;
    border: none;
    background: rgba(225, 225, 225, 0.4);
    border: 2px solid #fff;
    border-radius: 100vh;
    scale: 0.7;
    transition: .3s;
}

.nav-btn.active {
    scale: 1.5;
    background: #fff;
}

.nav-btn.active+.nav-btn,
.nav-btn:has(+ .nav-btn.active) {
    scale: 1.2;
}

.details{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 100px;
}

.school-quote, .school-img{
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
}

.quote{
    width: 50%;
    text-transform: capitalize;
    font-size: 46px;
    background: linear-gradient(to right, rgb(47, 93, 49), rgb(67, 170, 11), rgb(47, 93, 49));
    color: transparent;
    background-clip: text;
}

.message{
    width: 50%;
    color: #220;
    font-size: 24px;
}

.school-img img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

@media only screen and (max-width: 1220px){
    .home{
        margin-bottom: 50px;
    }

    .details{
        gap: 40px;
    }

    .quote, .message{
        width: 60%;
    }
}

@media only screen and (max-width: 1080px) {
    .top-nav {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    } 

    .main-links ul{
        padding: 0 10px;
    }

    nav a{
        font-size: 15px;
    }

    .logo{
        scale: .8;
    }
}

@media only screen and (max-width: 768px) {
    nav ul li{
        display: none;
    }    
    .ham-burger{
        display: block;
    }
}